
       <table>
        <tr>
          <th>Ref #</th>
          <th>Start</th>
          <th>End</th>
          <th>Days</th>
          <th>Venue</th>
          <th>Price</th>
          <th></th>
        </tr>
        <% @scheduled_events.each do |event| %>
          <tr>
            <td><%= link_to event.ref, guest_item_path(event) %></td>
            <td><%= link_to display_date(event.start), guest_item_path(event) %></td>
            <td><%= display_date(event.finish) %></td>
            <td><%= event.days %> - <%= event.time_of_day %></td>
            <td><%= event.venue %></td>
            <td><%= event.formatted_price(@vendor.id) %></td>
            <td><%= image_tag "ticket_icon.png" if event.has_current_issues? %></td>
          </tr>
        <% end %>  
      </table> 
