<h1><%= @title %></h1>

<%= form_tag guest_resources_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search], :size => 40 %> &nbsp; &nbsp; &nbsp;
    <%= submit_button(@tag_name) %>
    <%= image_tag "info.png" %><small><%= link_to "(effective searches)", "#" %></small>
<% end %>

<% if @search %>
  <h5 class="loud"><%= pluralize(@search.total, "result") %></h5>
<% end %>
<br />
<div class="notes">
  <%= will_paginate %>
  
  <% @resources.each do |resource| %>
    <%= render "shared/resource_outline", :r => resource %>
    <hr />
  <% end %>
 
  <%= will_paginate %>
</div>
