    <div class="field">
      <%= f.label :target, "Group" %><br />
      <%= f.select :target, options_for_select(@targets, @category.target) %>
    </div>
     <p class="notes">Submitted <%= default_date(@category.created_at)%> by 
      <%= @category.user.name %><br />
      <%= @category.user.email %>
    </p>
    <div class="field">
      <%= f.label :authorized, "Authorize" %>&nbsp; &nbsp;
      <%= f.check_box :authorized %>    
    </div>
    <p class="notes">Check this box to authorize and send the category to the public list.  If you modify
           the record, an email will be sent automatically to <%= @member.name %>, explaining the changes.
           Otherwise, no notification is sent.
    </p>
    
   
