<h1><%= @title %></h1>

<%= form_for [:admin, @category], :url => admin_category_approval_path(@category) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="two_column_left">
    <div class="field">
      <%= f.label :category %><br />
      <%= f.text_field :category %>
    </div>

    <%= render "unauthorized", :f => f %>
    
  </div>
  
  <% if @category.message_sent == false %>
    <%= render "authorization_message", :f => f %>
  <% else %>
    <%= render "rejected_message", :f => f %>
  <% end %>
  
  <div class="actions">
    <%= submit_button(@tag_name) %>  
  </div>
  
  <div class="redirects">
    <%= drop_changes(admin_category_approvals_path) %>
  </div>

<% end %>
