<p>Dear <%= @member.name %></p>
<p>
  Previously we rejected your Category submission - '<%= @category.submitted_name %>' in 
  the '<%= @category.submitted_group %>' group.
</p>
<p>
  But we wanted you to know that we've changed our minds.  We're now accepting your submission - but 
  with this change:
</p>
<p>
  <% if @category.name_change?(@category.submitted_name) %>
    <%= @category.report_name_change(@category.submitted_name) %>
  <% end %>
  <% if @category.group_change?(@category.submitted_group) %>
    <br />
    <%= @category.report_group_change(@category.submitted_group) %>
  <% end %>
</p>
<p>Tickets for Training Admin Team</p>
