<h1><%= @title %></h1>
<%= form_for @issue do |f| %>
  <div class="redirects_top">
    <span class="loud">Enter details of your discounted tickets</span><br />
    <small>(<%= pluralize(@vendor.credits_available, "ticket credit") %> available, including this offer)</small>
  </div>
  <h4><%= @item.resource.name %></h4>
  <div class="two_column_left">
    <div class="notes">  
      <b>From:</b> <%= @vendor.name %><br />
      <b>Ref #:</b> <%= @item.ref %><br />
      <br />
      <% if @item.is_event? %>
        <%= render 'event_details' %>
      <% else %>  
        <%= render 'resource_details' %>
        <%= render 'resource_pricing' %>
      <% end %>
    </div>
  </div>
  
   <div class="two_column_right">
     <%= render 'issue', :f => f %>
       
     <div class="actions">
       <%= submit_button(@tag_name) %>
     </div>
     <div class="redirects">
       <% if @item.is_event? %>
         <%= cancellation_link(@drop, program_selection_path) %>
       <% else %>
         <%= cancellation_link(@drop, resource_selection_path) %>
       <% end %>
     </div>
   </div>
<% end %>
