  <div class="two_column_left">
  
    <div class="field">
      <%= f.label :name %> <small> (your real first name & family name)</small><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :email %><small> (strictly private & no spam - promise!)</small><br />
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :country_id %><br />
      <%= collection_select(:user, :country_id, @countries, :id, :name, :prompt => true) %>
    </div>
    <div class="field">
      <%= f.label :location %><small> (e.g. Dallas, TX <i>or</i> Chelsea, London)</small><br />
      <%= f.text_field :location %>
    </div>
  </div>
  
  <div class="two_column_right">
    <div class="field">
      <%= f.label :vendor, "Do you sell training events, programs, or products?" %> 
        <small> ('yes' gives you vendor access)</small><br />
        <%= f.radio_button( :vendor, :true ) %> Yes
        <%= f.radio_button( :vendor, :false ) %> No
    </div>
    <br />
    <div class="field">
      <%= f.label :password %><small> (at least 6 characters)</small><br />
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation, "Confirmation" %><small> (repeat password)</small><br />
      <%= f.password_field :password_confirmation %>
    </div>
  </div>
