<h1>Your settings 
  <span class="h_tag"> (all boxes - including password - must be filled) </span>
</h1>


<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <%= render 'user', :f => f %>
  
  <div class="actions">
    <%= submit_tag "Update", :class => "action_round" %>
  </div> 
<% end %>

<div class="redirects">
  <%= gravatar_for @user %>
  <a href="http://gravatar.com/emails"> <span class="caption">(change your profile picture)</span></a>
</div>
