<h1>Your settings</h1>


<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <%= render 'user', :f => f %>
  
  <div class="actions">
    <%= submit_tag "Update", :class => "action_round" %>
  </div> 
<% end %>

<div class="redirects">
  <%= gravatar_for @user %>
  <a href="http://gravatar.com/emails">change</a>
</div>
