<% if Item.has_ticketable_resources?(@vendor) %>
  <small class="redirects">(or switch to <%= link_to "other resources", resource_selection_path %>)</small>
<% end %>

<h1><%= @title %></h1>
<h4><%= @vendor.name %> 
   <br />
   <div class="h_tag"> (<%= pluralize(@vendor.credits_available, "ticket credit") %> available -
     list below shows only events that are not fully booked.<br />
     <img src = "/images/tick_octagon.png"> shows one or more previous ticket issues for this event;
       click button to view or edit details.<br />
     <i>Or</i> click on the <strong>event title</strong> to issue new tickets.)  
   </div>
</h4>


<% if !Item.any_ticketable?(@vendor) %>
  <p>First you need to 
     <%= link_to "set up some future training events or permanent training resources", 
         vendor_resources_path(@vendor) %>.
  </p>
<% elsif Item.has_ticketable_events?(@vendor) %>
  <div class="notes">
  <table>
    <tr>
      <th>Ref</th>
      <th>Title</th>
      <th>Start</th>
      <th>End</th>
      <th>Format</th>
      <th>Venue</th>
      <th></th>
    </tr>
    <% @items.each do |item| %>
    <tr>
      <td><%= link_to item.ref, new_item_issue_path(item.id),
            :title => "Click to issue new ticket(s) for Event #{item.ref}" %>
      </td>
      <td><%= link_to item.resource.name, new_item_issue_path(item.id), 
            :title => "Click to issue new ticket(s) for Event #{item.ref}" %>
      </td>
      <td><%= display_date(item.start) %></td>
      <td><%= display_date(item.finish) %></td>
      <td><%= item.resource.medium.medium %></td>
      <td><%= truncate(item.venue, :length => 23) %></td>
      <td>
        <% if item.has_issues? %>
          <%= link_to image_tag("/images/tick_octagon.png"), item_issues_path(item) %>
        <% end %>       
      </td>
    </tr>
    <% end %>
  </table>
  </div>
<% end %>
<br />
<%= link_to "Return to Tickets menu", tickets_menu_path %>
