<h1><%= @title %></h1>

<%= form_for [:admin, @medium] do |f| %>
  <%= render "shared/error_messages", :object => f.object %>
  
    <div class="field">
      <%= f.label :medium, "Change the format label" %><br />
      <%= f.text_field :medium %>
    </div>
    
    <div class="field">
      <%= f.label :scheduled, "Are resources in this format scheduled events?" %><br />
        <%= f.radio_button( :scheduled, :true ) %> Yes<br />
        <%= f.radio_button( :scheduled, :false ) %> No, they're available all the time  
    </div>
    <br />
    <div class="field">
      <%= f.label :attendance, "Is physical attendance required?" %><br />
        <%= f.radio_button( :attendance, :true ) %> Yes, so the training location is important<br />
        <%= f.radio_button( :attendance, :false ) %> No, location is irrelevant for this kind of training  
    </div>
  
  <div class="actions">
     <%= submit_button(@tag_name) %>
  </div> 
  <div class="redirects">
    <%= drop_changes(admin_media_path) %>
  </div>

<% end %>

