<h1><%= @title %></h1>
<%= will_paginate %>
<table>
  <tr>
    <th>Country</th>
    <th>Code</th>
    <th>Currency</th>
    <th>IDD</th>
    <th>Region</th>
    <th></th>
  </tr>
  <% @countries.each do |country| %>
  <tr>
    <td><%= link_to country.name, admin_country_path(country),
                :title => "Display #{country.name}" %></td>
    <td><%= country.country_code %></td>
    <td><%= country.currency_code %></td>
    <td><%= country.phone_code %></td>
    <td><%= country.region.region %></td>
    <td><small><%= link_to "delete", admin_country_path(country),  :method => :delete,
                                        :confirm => "You sure?",
                                        :title => "Delete #{country.name}" %>  </small></td> 
  </tr>
  <% end %>
</table>
<%= will_paginate %>
<div class="actions">
  <%= link_to 'New country', new_admin_country_path, :class => "action_round" %> 
</div>
