<h1><%= 
  @title %>   
  <span class="header_link"><%= link_to "(edit details)", edit_admin_country_path(@country) %></span>
</h1>

<table class="profile" summary = "Country profile">
  <tr>
    <td class="two_col">
      <div class="field">
        <strong>Country code</strong><br />
        <%= @country.country_code %>
      </div>
      <div class="field">
        <strong>Currency</strong><br />
        <%= @country.currency_name %><br />
        Exchange-rate - <%= @country.currency_symbol %> to US$: 
        <span class="rate"><%= @country.exchange_rate %></span>
      </div>
      <div class="field">
        <strong>International dialling</strong><br />
        <%= @country.phone_code %>
      </div>
      <div class="field">
        <strong>Region</strong><br />
        <%= @country.region.region %>
      </div>
    </td>
    <td class="two_col">
      <div class="field">
        <strong>Members:</strong><br />
        <strong>Vendors:</strong><br />
      </div>
      <div class="field">
        <strong>Tickets issued:</strong><br />
        <strong>Value:</strong><br />
      </div>
      <div class="field">
        <strong>Tickets purchased:</strong><br />
        <strong>Value:</strong><br />
      </div>
    </td>
  </tr>
</table>    
<hr />

<h5>Cities  &nbsp;&nbsp;
  <span style="font-weight:normal"><%= link_to "(add a new city)", new_country_city_path(@country)%>
  </span>
</h5>
<div id="list_display" class="round">
<% @cities.each do |city| %>
   <%= city.name %>&nbsp; &nbsp;
<% end %>
</div>
