<h1><%= @title %></h1>

<%= form_for [:admin, @city] do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="two_column_left">
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <p><span class="loud"><%= @city.country.name %></span></p>
    <div class="notes">
      Geocoding is important because it helps T4T to prioritize local 
      training opportunities.  Collect the coordinates from <%= link_to "this excellent Google resource", 
      "http://www.backups.nl/geocoding/index.html", :target => '_blank' %>.
    </div>
    <br />
    <div class="field">
      <%= f.label :latitude %><br />
      <%= f.text_field :latitude, :size => 10 %>
    </div>
    <div class="field">
      <%= f.label :longitude %><br />
      <%= f.text_field :longitude, :size => 10 %>
    </div>
  </div>
  
  <div class="two_column_right">
    <h5>All cities listed in this country</h5>
    <%= render "shared/country_cities" %>
  </div>
  
  <div class="actions">
    <%= submit_button(@tag_name) %>  
  </div>
  
  <div class="redirects">
    <%= drop_changes(admin_cities_path) %>
  </div>
<% end %>
    
