<h1><%= @title %></h1>
<div class="notes">Click on the name to add latitude and longitude, and if necessary, edit.<br />
    You can add new cities yourself from the 'Countries' menu.
</div>
<table>
  <tr>
    <th>Name</th>
    <th>Country</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th></th>
  </tr>
  
  <% @cities.each do |city| %>
    <tr>
      <td><%= link_to city.name, edit_admin_city_path(city), :title => "Edit/add geolocation" %></td>
      <td><%= city.country.name %></td>
      <td><%= city.latitude %></td>
      <td><%= city.longitude %></td>
      <td><small><%= link_to "delete", admin_city_path(city),  :method => :delete,
                                        :confirm => "You sure?",
                                        :title => "Delete #{city.name}" %></small></td>
    </tr>
  <% end %>
</table>
