<h1><%= @title %> <span class="h_tag"> from <%= @vendor.name %> (<span class="loud"> *</span> = required)</span></h1>

<%= form_for @resource do |f| %>
  
  <%= render 'shared/error_messages', :object => f.object %>
  
  <%= render 'resources', :f => f %>
  
  <div class="actions">
    <%= submit_button(@tag_name) %>
  </div>
   <div class="redirects">
    <%= drop_changes(resource_path(@resource)) %>
  </div>
<% end %>
