<h1><%= @title %> <span class="h_tag"> - from <%= @vendor.name %></span></h1>

  <%= will_paginate %>
  <table>
    <% @resources.each do |resource| %>
      <tr>
        <td><%= link_to resource.name, resource_path(resource), :title => "View details" %></td>
        <td><%= resource.category.in_group %> - <%= resource.category.category %></td>
        <td><%= resource.medium.medium %></td>
        <td><%= pluralize(resource.length, resource.length_unit.downcase) %></td>
        <td><small><%= link_to "delete", resource_path(resource),  :method => :delete,
                                        :confirm => "You sure?",
                                        :title => "Delete #{resource.name}" %>  </small></td> 
      <tr>
    <% end %>
  </table>
  <%= will_paginate %>

<div class="actions">
  <%= link_to @tag_name, resource_group_path, :class => "action_round" %>
</div>
