<h1><%= @title %> <span class="h_tag"> - from <%= @vendor.name %></span></h1>

  <%= will_paginate %>
  <table>
    <tr>
      <th>Title <small class="loud" style="font-weight:normal">(X = Archived)</small</th>
      <th>Group</th>
      <th>Category</th>
      <th>Format</th>
      <th>Length</th>
      <th></th>
    </tr>
    <% @resources.each do |resource| %>      
    <tr>
      <td><%= link_to resource.name, resource_path(resource), :title => "View details" %>
          <% if resource.hidden %>
            <span class="loud">(X)</span>
          <% end %>
      </td>
      <td><%= resource.category.in_group %></td> 
      <td><%= resource.category.category %></td>
      <td><%= resource.medium.medium %></td>
      <td><%= pluralize(resource.length, resource.length_unit.downcase) %></td>
      <td><small><%= link_to "delete", resource_path(resource),  :method => :delete,
                                        :confirm => "You sure?",
                                        :title => "Delete #{resource.name}" %>  </small></td> 
    </tr>
    <% end %>
  </table>
  <%= will_paginate %>

<div class="actions">
  <%= link_to @tag_name, resource_group_path, :class => "action_round" %>
</div>
