<h1><%= @resource.name %>
   <span class="header_link"><%= link_to "(edit details)", edit_resource_path(@resource) %></span>
</h1>
<div class="notes">
  <div class="two_column_left">
    <%= @resource.medium.medium %> from<br /> 
    <%= @vendor.name.upcase %><br />
    <%= @vendor.address %>, <%= @vendor.country.name %>
    <br /><br />
    <strong>Group - Category:</strong><br />
     <%= @resource.category.in_group %> - <%= @resource.category.category %>
    <br /><br />
    <strong>Length:</strong> <%= pluralize(@resource.length, @resource.length_unit.downcase) %>
    <br /><br />
    <% unless @resource.webpage.blank? %>
      <strong>More info:</strong> <br />
      <%= link_to @resource.webpage, @resource.webpage, :target => "_blank" %>
      <br /<br />
    <% end %>
    <i><%= display_status %></i>
  </div>
  <div class="two_column_right">
    <div class="description">
      <% if @resource.description.blank? %>
        <span class="loud">
          <i><%= description_handler %></i>
        </span>
      <% else %>
        <%= description_handler %>
      <% end %>
    </div>
    <br />
    <strong>Keywords:</strong><br />
    <%= @resource.feature_list %>
    <br /><br />
    <h5>OTHER ACTIONS</h5>
    <div class="indent">
      <% unless current_user.single_company_vendor? %>
        <% unless current_user.resource_duplicated_to_all?(@resource.name) %>     
          <li><%= link_to "Duplicate >> another of your vendors", 
            duplicate_resource_to_vendor_path %>    
          </li>
        <% end %>
      <% end %>
      <li><%= link_to "Add a new resource", resource_group_path %></li>
    </div>
  </div>
</div>
