<h1><%= @title %>
  <span class=h_tag>
    (Follow <%= link_to "this link", new_resource_item_path(@resource) %> to create a NEW event)
  </span>
</h1>
<h4><u><%= @resource.name %></u> <br /><span class="h_tag">from <%= @vendor.name %></span></h4>

<%= form_for @item do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  
  <%= render 'item', :f => f %>

  <div class="actions">
    <%= submit_button(@tag_name) %>
  </div>
  <div class="redirects">
    <%= link_to "(drop changes)", item_path(@item) %>
  </div>
<% end %>
