<h1><%= @title %></h1>

<h4><u>Full details: Event #<%= @item.ref %></u> &nbsp;
  <span class="h_tag">
      <%= link_to "(edit resource details)", edit_resource_path(@resource) %> 
      &nbsp; &nbsp; &nbsp;
      (back to 
      <% if @item.finish >= Date.today %>
        <%= link_to "Events list", resource_items_path(@resource) %>
      <% else %>
        <%= link_to "Events list", resource_past_events_path(@resource) %>
      <% end %>
      )
  </span>
</h4>

<div class="notes">
  <div class="two_column_left">
    <%= render "shared/resource_intro" %>
  </div>
  
  <div class="two_column_right">
    <%= render "shared/resource_description" %>
  </div>

  <hr />
  
  <div class="two_column_left">
    <h5>SCHEDULE & PRICING
      <span class="h_tag">
        <%= link_to "(edit event details)", edit_item_path(@item) %>
      </span>
    </h5>
    <%= render 'shared/item_schedule' %>
    <br />
  </div>
  
  <div class="two_column_right">
    <%= render 'shared/item_pricing' %>
  </div>
  <hr />
  
  <div class="two_column_left"
    <h5>CONTACTS
      <span class="h_tag"> 
        <%= link_to "(edit vendor details)", edit_business_vendor_path(@vendor) %>
      </span>
    </h5>
    <b>Phone:</b>&nbsp;<%= @vendor.phone_with_code %><br /><br />
    <b>Email:</b><br /><%= @vendor.email %><br /><br />
    <% unless @vendor.website.blank? %>
      <b>Company website:</b><br /><%= link_to @vendor.website, @vendor.website, :target => "_blank" %>
    <% end %>
  </div>  
</div>  
