    <div class="field">
      <%= f.label :target, "Group" %><br />
      <%= f.select :target, options_for_select(@targets, @category.target) %>
    </div>
     <p class="notes">Submitted <%= default_date(@category.created_at)%> by 
      <%= @category.user.name %><br />
      <%= @category.user.email %>
    </p>
    <div class="field">
      <%= f.label :authorized, "Authorize" %>&nbsp; &nbsp;
      <%= f.check_box :authorized %>    
    </div>
    <p class="notes">If you check this box, a confirmation email will be sent 
           to <%= @member.name %>, including details of any modifications you've made.  
           The category will then appear in the public list.
    </p>
    
   
