<% if Category.approvals_needed? %>
  <h4>Also please check <%= link_to "NEW SUBMISSIONS", admin_category_approvals_path %>.</h4>
<% end %>

<h1><%= @title %></h1>

<%= will_paginate %>
<table>
  <tr>
    <th>Category</th>
    <th></th>
  </tr>
  <% @categories.each do |category| %>
  <tr>
    <td><%= link_to category.category, edit_admin_category_path(category),
                :title => "Edit #{category.category}" %></td>
    <td><small><%= link_to "delete", admin_category_path(category),  :method => :delete,
                                        :confirm => "You sure?",
                                        :title => "Delete #{category.category}" %>  </small></td> 
  </tr>
  <% end %>
</table>
<%= will_paginate %>

<div class="actions">
  <%= link_to "New category - #{@target}", new_admin_category_path(:id => @target), 
                            :class => "action_round" %> 
</div>

<div class="redirects">
  <small>SWITCH TO: <%= pager(0) %> | <%= pager(1) %> | <%= pager(2) %> | <%= pager(3) %></small> 
</div>
