<h1><%= @title %></h1>

<%= will_paginate %>
<table>
  <tr>
    <th>Category</th>
    <th>Submitted</th>
    <th style = "text-align: center">Approval</th>
    <th></th>
  </tr>
  <% @categories.each do |category| %>
  <tr>
    <td><%= link_to category.category, edit_admin_category_path(category),
                :title => "Edit #{category.category}" %></td>
    <td><small>
          <%= default_date(category.created_at) if category.authorized == false %>
    </small></td>
    <td class="loud" style="text-align:center"><small><%= category.approval_status %></small></td>
    <td><small><%= link_to "delete", admin_category_path(category),  :method => :delete,
                                        :confirm => "You sure?",
                                        :title => "Delete #{category.category}" %>  </small></td> 
  </tr>
  <% end %>
</table>
<%= will_paginate %>

<div class="actions">
  <%= link_to "New category - #{@target} grouping", new_admin_category_path(:id => @target), 
                            :class => "action_round" %> 
</div>
