<h1><%= @title %></h1>

<div class="two_column_left">
  <%= form_for [@country, @city] do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>
    <div class="notes">
      Please add only cities, not towns.<br />
      <br />
      When members set their closest city, <span class="loud">Tickets for Training</span> can find the vendors and events either in
      their neighbourhood or within a distance they specify.
      <br /><br />
    </div>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <div class="actions">
      <%= submit_button(@tag_name) %>
    </div>
    <div class="redirects">
      <%= previous_page(admin_country_path(@country), user_path(current_user.id)) %>
    </div> 
  <% end %>
</div>
