<h1><%= @title %></h1>

<div class="notes">
  <div class="two_column_left">
    <div class="description">  
      <div class="rounded_box">
        1. What do you want to learn about, and where - and how?  
        <%= link_to "SET UP YOUR PREFERENCES", "#" %>.
      </div>
      <br />
      <div class="rounded_box">
        3. Get tickets - special discounts for training.  View <%= link_to "
        TICKETS FOR YOUR PREFERENCES", "#" %>.
      </div>
      <br />
      <div class="rounded_box">
        5. Check for great offers in the complete list of 
        <%= link_to "ALL CURRENT TICKETS", "#" %>, and try something new.
      </div>
      <br />
      <div class="rounded_box">
        7. Keep up with all the programmes and vendors you've marked as 
        <%= link_to "YOUR FAVORITES", "#" %>.
      </div>
    </div>
  </div>
  <div class="two_column_right">
    <div class="description">
      <div class="rounded_box">
        2. View <%= link_to "RECOMMENDED PROGRAMS AND MATERIAL", "#" %>
        matching your preferences.
      </div>
      <br />
      <div class="rounded_box">
        4. Research <%= link_to "ALL CURRENT TRAINING RESOURCES", member_resources_path %> - 
        classes, books, DVDs, seminars, on-line ..
      </div>
      <br />
      <div class="rounded_box">
        6. You've used a ticket?  Now please answer a few simple <%= link_to "REVIEW", "#" %> 
        questions. &nbsp; &nbsp;<small class="loud">(0 reviews required)</small>
      </div>
      <br />
      <div class="rounded_box">
        8. <%= link_to "SHARE NEWS, VIEWS, KNOWLEDGE", "#" %> with other T4T members - across the world.
      </div>
    </div>
  </div>
</div>
