  
  <div class="two_column_left">
    <div class="field">
      <span class="loud">* </span>
      <%= f.label :category_id, "Select a category" %><br />
      <%= collection_select(:searchlist, :category_id, @categories, :id, :category, 
           { :include_blank => "Must be selected" } ) %>
    </div>
  </div>
  
  <div class="two_column_right">
    <div class="field">
      <%= f.label :medium_id, "Enter your preferred format, if any" %><br />
      <%= collection_select(:searchlist, :medium_id, @media, :id, :medium, 
        { :include_blank => "Any format" }) %>
    </div>
  </div>
  
  <div class="smallwidearea">
    <div class="field">
      <span class="loud">* </span>
      <%= f.label :topics, "Fine-tune your search with up to 10 keywords" %><br />
      <%= f.text_area :topics %>
    </div>
  </div>
  
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :focus %>
  
  <div class="two_column_left">
    <b>Location</b>
    <div class="notes">
  
      <p>When the training format requires your actual attendance (e.g. classroom, seminars), 
         we'll only search for convenient locations - by default, that's <u>anywhere in your country</u>.
      </p>
      <p>Change the default setting by selecting ONE of the options on the right.  The first option you
         select will be the one we use - i.e if you select a region, we'll ignore any country selections.
      </p>
    </div> 
  </div>
  
  <div class="two_column_right">
    
    <div class="field">
      <%= f.label :region_id, "Search in a region, not a country" %><br />
      <%= collection_select(:searchlist, :region_id, @regions, :id, :region, 
          {:include_blank => "Not selected" }) %>
    </div>
    
    <div class="field">
      <%= f.label :country_id, "Search in another country, not yours" %><br />
      <%= collection_select(:searchlist, :country_id, @countries, :id, :name, 
          {:include_blank => "Not selected"}) %>
    </div>
    
    <div class="field">
      <%= f.label :proximity, "Max distance from you, in kilometers" %><br />
        <small>(To apply, region and country must be 'Not selected')</small>
      <%= f.text_field :proximity, :size => 5 %>
    </div>
  </div>
