<h1><%= @title %></h1>

<%= form_for(@region) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :region %><br />
    <%= f.text_field :region %>
  </div>
  <div class="actions">
     <%= submit_tag "Update", :class => "action_round" %>
  </div> 
<% end %>
