<h1><%= @title %></h1>

<%= form_tag member_resources_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search], :size => 40 %> &nbsp; &nbsp;
    <%= submit_button(@tag_name) %> &nbsp;
    <%= image_tag "info.png" %><small><%= link_to "(effective searches)", "#" %></small>
<% end %>

<% if @search %>
  <h5 class="loud"><%= pluralize(@search.total, "result") %></h5>
<% end %>

<div class="notes">
  <%= will_paginate %>
  <br />
  
  <% @resources.each do |resource| %>
    <%= render "shared/resource_outline", :r => resource %>
    <hr />
  <% end %>
 
  
  <%= will_paginate %>
</div>
