<h1><u><%= @title %></u>
    <span class="header_link"><%= link_to "( back to search results )", session[:return_to_search] %></span>
</h1>

<div class="notes">

  <div class="two_column_left"> 
    <%= render "shared/resource_intro" %>
  </div>
  
  <div class="two_column_right">
    <% unless @resource.description.blank? %>
      <div class="description">
        <%= @resource.description %>
      </div>
      <br />
    <% end %>
    <% unless @resource.feature_list.blank? %>
      <strong>Keywords:</strong><br />
      <div id="features">
        <%= @resource.feature_list %>
      </div>
    <% end %>  
  </div>
  <hr />
  
 
  <% if @resource.schedulable? %> 
    <% if @resource.has_current_and_scheduled_events? %>
      <b class="loud">Scheduled events</b> 
      <i><span class="reduced_notes">( click on Ref # or Start for full details )</span></i>
      <%= render "coming_events", :collection => @scheduled_events %>
    <% else %>
      <b>No events currently scheduled</b>
      <br /><hr />   
      
      <div class="two_column_left">
        <%= render "vendors/shared/contact_info" %>
      </div>
   
    <% end %>
    
  <% else %>
    <div class="two_column_left">
      <h5>PRICING AND AVAILABILITY</h5>   
      
      <% if @resource.requires_setup? %>
        Sorry - details not available
    
      <% else %>
        <b>Price:</b> &nbsp;<%= @item.formatted_price(@vendor) %> &nbsp;
        <i><%= dollar_conversion %></i>    
        <br />
        <small><%= availability_status %></small><br />
        <br />
        <b>Where to obtain?</b> <%= @item.venue %><br />
        <% unless @item.notes.blank? %>
          <br />
          <%= @item.notes %>
          <br /><br />
        <% end %>
        <% unless @item.reference.blank? %>
          <b>Quote reference:</b> <%= @item.reference %>
        <% end %>
        <br /><br />
      <% end %>
    </div>
    <div class ="two_column_right">
      <% unless @resource.requires_setup? %>  
        <% if @item.has_current_issues? %>
          <h5>T4T TICKETS</h5>
          <% @item.issues.each do |issue| %>
            <%= image_tag "ticket_icon.png" %>
            <b>Price:</b> <%= issue.formatted_ticket_price(@vendor) %> 
               &nbsp; <i>( <%= display_decimals(issue.discount, 0) %>% discount )</i><br />
            <b>Expiry date:</b> <%= display_date(issue.expiry_date) %><br />
            <% if issue.tickets_remaining <= 3 %>
              <span class="loud">ONLY <%= issue.tickets_remaining %> REMAINING!</span><br />
            <% end %>
            <%= link_to "Apply for ticket", "#" %>
            <br /><br />
          <% end %>
        <% end %>
      <% end %>
    </div>
    <br /><hr />
    
    <div class="two_column_left">
      <%= render "vendors/shared/contact_info" %>
    </div>
    
   
  <% end %>   

</div>  
