<div class="span-24">  
  <%= link_to logo, root_path %>
  <nav class = "round">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Find training", find_training_path %></li>
      <li><%= link_to "About us", about_path %></li>
      <li><%= link_to "Why register", why_register_path %></li>
      <li><%= link_to "FAQs", faqs_path %></li>
      <li><%= link_to "Sign up", signup_path %></li>
      <li><%= link_to "Log in", login_path %></li>
    </ul>
  </nav>
</div>
