<div class="span-24">
  <%= image_tag("logo.png", :alt => "Tickets for Training", :class => "round") %>
  <nav class = "round">
    <ul>
      <li><%= link_to "Home", '#' %></li>
      <li><%= link_to "Find training", '#' %></li>
      <li><%= link_to "About us", '#' %></li>
      <li><%= link_to "Why register", '#' %></li>
      <li><%= link_to "Help", '#' %></li>
      <li><%= link_to "Sign Up", '#' %></li>
      <li><%= link_to "Log In", '#' %></li>
    </ul>
  </nav>
</div>
