<div class="span-24">  
  <%= link_to logo, root_path %>
  <nav class = "round">
    <ul>
      <% if logged_in? %>
        <% if current_user.admin? %>
          <li><%= link_to "Home", admin_home_path %></li>
          <li><%= link_to "Users", admin_users_path %></li>
        <% elsif current_user.vendor? %>
          <li><%= link_to "Home", business_home_path %></li>
        <% else %>
          <li><%= link_to "Home", root_path %></li>
        <% end %>
        <li><%= link_to "Profile", current_user %></li>
        <li><%= link_to "Settings", edit_user_path(current_user) %>
        <li><%= link_to "Log out", logout_path, :method => :delete %></li>
      <% else %>
         <li><%= link_to "Home", root_path %></li>
         <li><%= link_to "Find training", guest_resources_path %></li>
         <li><%= link_to "Why register", why_register_path %></li>
         <li><%= link_to "About us", about_path %></li>
         <li><%= link_to "FAQs", faqs_path %></li>
         <li><%= link_to "Sign up", signup_path %></li>
         <li><%= link_to "Log in", login_path %></li>
      <% end %>
    </ul>
  </nav>
</div>
