 <h5> <%= image_tag "info.png" %> <u>Guidance for this page</u></h5>

<%= image_tag "#{@image_1}" if @image_1 %> <%= @instructions %>
<br /><br />
<%= image_tag "#{@image_2}" if @image_2 %> <%= @instructions_2 %>
<br /><br />
<%= image_tag "#{@image_3}" if @image_3 %> <%= @instructions_3 %>
<br /><br />
<%= image_tag "#{@image_4}" if @image_4 %> <%= @instructions_4 %>
<br /><br />
<%= image_tag "#{@image_5}" if @image_5 %> <%= @instructions_5 %>
