<div id="menubox" class="round">
  <div class="title">
    Benefits of Registration        
  </div>
  <ul>
    <li><%= link_to "Introduction", "#" %></li>
    <li><%= link_to "Buying training", "#" %></li>
    <li><%= link_to "Selling training", "#" %></li>
    <li><%= link_to "Becoming an affiliate", "#" %></li>
    <li><%= link_to "Terms and Conditions", "#" %></li> 
  </ul>  
</div>
