<div id="menubox" class="round">
  <% if logged_in? %>
    <% if current_user.admin? %>
      <div class="title">
        Admin Tasks
      </div>
      <ul>
        <li><%= link_to "Regions", admin_regions_path %></li>
        <li><%= link_to "Countries", admin_countries_path %></li>
        <li><%= link_to "Categories", categories_admin_path %></li>
        <li><%= link_to "Training media", admin_media_path %></li>
        <li><%= link_to "Review questions", "#" %></li>
      </ul>
    <% elsif current_user.vendor? %>
      <div class="title">
        Supplier Menu
      </div>
      <ul>
        <li><%= link_to "Home", business_home_path %></li>
        <% if current_vendor? %>
           <li>Vendor profile</li>
        <% end %>
        </li>
        <li>Products & services</li>
        <li>Schedule</li>
        <li>Tickets</li>
        <li>Reviews</li>
        <li>History</li>
        <li>Your colleagues</li>
        <li><%= link_to "Add a new vendor", new_business_vendor_path %></li>
      </ul>
   
    <% end %>
  <% else %>
  <div class="title">
    Benefits of Registration        
  </div>
  <ul>
    <li><%= link_to "Introduction", why_register_path %></li>
    <li><%= link_to "Buying training", buyers_path %></li>
    <li><%= link_to "Selling training", sellers_path %></li>
    <li><%= link_to "Becoming an affiliate", affiliates_path %></li>
    <li><%= link_to "Terms and Conditions", terms_path %></li>     
  </ul>
  <% end %>  
</div>
