<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>   
    <%= javascript_include_tag :defaults %>
  </head>
  <body>
    <div class="container">
      <header>
        <%= render 'layouts/header' %>
      </header>
      <div class="span-4 last" style ="float:right; background-color:#FFFF99">
          <%= render 'layouts/right_panel' %>
        </div>
      <%= render 'layouts/left_panel'%>
      <section class="round">
        <div class="span-15">
          <% flash.each do |key, value| %>
            <%= content_tag(:div, value, :class => "flash #{key}") %> 
          <% end %>
          <%= yield %>
        </div>
        
      </section>
      <footer class="span-24">
         <%= debug(params) if Rails.env.development? %>
      </footer>
    </div>
  </body>
</html>
