<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
  </head>
  <body>
    <div class="container">
      <header>
        <%= render 'layouts/header' %>
        </section>
      </header>
      <%= render 'layouts/left_panel'%>
      <section class="round">
        <div class="span-15">
          <% flash.each do |key, value| %>
            <%= content_tag(:div, value, :class => "flash #{key}") %> 
          <% end %>
          <%= yield %>
        </div>
        <%= render 'layouts/right_panel' %>
      </section>
      <footer class="span-24">
         <%= debug(params) if Rails.env.development? %>
      </footer>
    </div>
  </body>
</html>
